.selected-items{
    background-color: rgb(197, 197, 197);
    position: sticky;
    top: 0;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
}
.items{
    font-size: 19px;
    font-weight: 500;
}
.image-size-cart{
    width: 20%;
}
.list-items{
    list-style: none;
}