.selected-items{
    background-color: rgb(204, 221, 211);
    position: sticky;
    top: 20px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.items{
    font-size: 19px;
    font-weight: 500;
}
.image-size-cart{
    width: 20%;
    border-radius: 10px;
    padding-right: 5px;
}
.list-items{
    list-style: none;
}